<button (click)="sessionService.inSession ? sessionService.stop() : sessionService.start()">
    {{ sessionService.inSession ? "Stop" : "Start" }}
</button>
<button (click)="sessionService.simulateStroke('Buzz Aldrin')" style="cursor:pointer;font-size:12pt;">
    Simulate stroke
</button>
    <div class="dashboard">
        <div>
            <stroke-graph [strokeRates]="rower.strokeRates"></stroke-graph>
                <div [style.flex]="rower.distance"></div>
            <div [style.flex]="rower.distance"></div>
        </div>
    </div>
