:host {
    display:flex;
    flex-direction: column;
    padding:20px;
    box-sizing: border-box;
    border:1px dashed green;
}
/* Dashboard */
.dashboard {
    flex:1;
    border:1px gray;
}

stroke-graph {
    height:40px;
}

